Edit To-Do:
<form action= "/process_edit_todo/<%= @todo.id %>" method="post">
    Title:
  <br> 
  <input type="text" name="todo_title" value="<%= @todo.title %>">
  <br> 
    Description:
  <br> 
  <input type="text" name="todo_description" value="<%= @todo.description %>">
  <br> 
    Completed?
  <br> 
  <input type="text" name="completed" value="<%= @todo.completed %>">
  <br> 
    Task Assigned to:
  <br> 
  <input type="text" name="user_id" value="<%= User.find_by_id(@todo.user_id).name %>">
  <br> 
    Created By:
  <br> 
  <%= User.find_by_id(@todo.created_by).name %>
  <br> 
      <input type="submit">
</form>